.navbar {
    &__container {
        margin: auto;
        max-width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        text-decoration: none;
    }

    &__link {
        text-decoration: none;
        margin: 0 5px;
    }
}